.recipe-detail ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
}
.recipe-detail li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
}
.recipe-detail li::after {
    content: ',';
}
.recipe-detail li:last-child::after {
    content: '.';
}
.recipe-detail a {
    color: #555;
    text-decoration: none;
    display: block;
    background: #e2e2e2;
    font-size: 0.9em;
    text-align: center;
    width: 150px;
    padding: 8px;
    border-radius: 4px;
    margin: 50px auto 0;
}
.method {
    text-align: left;
    line-height: 1.5em;
}
